[Desktop Entry]
Version=0.1.0
Name=Tiplot
Comment=TiPlot
Exec=sh -c 'if [ -x "$HOME/.local/bin/tiplot" ]; then "$HOME/.local/bin/tiplot"; elif [ -x "/usr/local/bin/tiplot" ]; then /usr/local/bin/tiplot; else notify-send "Tiplot" "Binary not found. Please run install script."; fi'
Icon=~/.local/share/icons/tiplot.png
Terminal=false
Type=Application
Categories=Development;Utility;
StartupNotify=true
